.root {
  background: url('/assets/ap.jpg') no-repeat center center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 100vh;
  flex-direction: column;
}

.footer {
  color: #fff;
  position: absolute;
  bottom: 24px;
  width: 100%;
  opacity: 0.5;
}
.link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
}
.productof img {
  height: 1.5rem;
}
.copyright {
  font-size: 0.9rem;
  margin: 0;
}
.copyright a {
  color: #fff;
  text-decoration: none;
}

.heading {
  margin: 0;
  color: #fff;
  margin-top: 32px;
  font-weight: normal;
}
